
<!-- NAME: Veronica Lund-->
<!-- SFUID: 301292997-->
<!-- EMAIL: vlund@sfu.ca-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <title>CMPT 213 Online Hangman Game</title>
</head>
<body>
    <div>
        <h1>404 NOT FOUND</h1>
    </div>
    <form action="#" th:action="@{/welcome}" method="get">
        <button class = "center" type="submit">Go back to welcome page</button>
    </form>
</body>
</html>